@import 'tailwindcss';



@theme {
	--breakpoint-sm: 40rem;
	--breakpoint-md: 48rem;
	--breakpoint-lg: 64rem;
	--breakpoint-xl: 80rem;
	--breakpoint-2xl: initial;

}

@utility container {
	padding-inline: 1.5rem;
	margin-inline: auto;

	@variant sm {
		padding-inline: 3rem;
	}

	@variant md {
		padding-inline: 2rem;
	}

	@variant lg {
		padding-inline: 1.5rem;
	}
	@variant xl {
		padding-inline: 0;
	}
}